/*---------
HOME SECTION
-----------*/
.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 50px;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  font-family: 'Nothing You Could Do', cursive ;
  color: var(--text-black-600);
  font-size: 26px;
  text-transform: capitalize;
  margin: 0 0 0 20px;
  font-weight: 500;
}

.home-section .home-text h2 {
  font-family: 'Splash', cursive;
  font-size: 60px;
  color: var(--text-black-900);
  font-weight: 500;
}

.home-section .home-text h1 {
  /* font-family: 'Gochi Hand', cursive; */
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  font-weight: 500;
  color: var(--text-black-600);
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}
